APP_IMAGE=voice_assistent
APP_VERSION=base

NETWORK_NAME=voiceassistant_default

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=voice_assistant

MODELS_DIR=./models
VOSK_MODEL_PATH=/app/models/vosk-model
PLUGINS_DIR=/app/src/plugins

# Service Ports
GATEWAY_PORT=8000
ASR_PORT=8001
NLU_PORT=8002
TTS_PORT=8003
DIALOG_PORT=8004
STORAGE_PORT=8005
NOTIFICATION_PORT=8006

# Host Ports
GATEWAY_HOST_PORT=8000
ASR_HOST_PORT=8001
NLU_HOST_PORT=8002
TTS_HOST_PORT=8003
DIALOG_HOST_PORT=8004
STORAGE_HOST_PORT=8005
NOTIFICATION_HOST_PORT=8006

ASR_MEMORY_LIMIT=2G
ASR_MEMORY_RESERVATION=1G

# Service URLs
ASR_SERVICE_URL=rabbitmq:8001
NLU_SERVICE_URL=rabbitmq:8002
TTS_SERVICE_URL=rabbitmq:8003
DIALOG_SERVICE_URL=rabbitmq:8004
STORAGE_SERVICE_URL=rabbitmq:8005
NOTIFICATION_SERVICE_URL=rabbitmq:8006

